P {
    text-align: center;
    border: solid red;
    color: white;
}

* {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

.cheese {
size: 155px;
background-color: rgb(147, 226, 43);
color: black;
border-radius: 25px;
width: 250px;
height: 175px;
text-align: center;

}

body {
    background-color: black;
}